/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #E5E5E5;
    font-family: 'Inter';
}

// variables
$pink-color: #EB5757;
$gray-color: #90A4AE;


// extend
.font-size {
    font-size: 16px;
    font-weight: 400;
}



// start : first card

.card {
    max-width: 775px;
    width: 100%;
    border: 0;
}

.card-title {
    color: #6E7491;
    font-size: 24px;
    font-weight: 600;
    line-height: 0;
}

.card-option-heading {
    color: #6D8493;
    font-weight: 400;
    line-height: 0;
}

.card-views {
    @extend .font-size;
}

.card-text {
    color: #7C8DB0;
    @extend .font-size;
}

.btn {
    --bs-btn-bg: #2D9CDB;
    --bs-btn-border-color: #2D9CDB;
}

.img-located {
    width: 392px;
    object-fit: cover;
    height: 100%;
}

// end: first card

// start : second card

.another-card {
    background-color: #fff;
    width: 775px;
    border-radius: 16px;
}

.index {
    font-size: 13px;
    font-weight: 400;
}

.card-index {
    background-color: $pink-color;
    color: #fff;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card-heading {
    font-size: 24px;
    font-weight: 600;
}

.card-details {
    width: 100%;
}

.chapter-heading {
    font-size: 32px;
    font-weight: 600;
    width: 210px;
    height: auto;
}

.next-btn {
    background-color: $pink-color;
    border-color: $pink-color;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
}

.next-btn:hover {
    color: #fff;
}

.img-tag {
    color: $gray-color;
    font-size: 8px;
    font-weight: 400;
}

.chapter-number {
    color: $gray-color;
    font-size: 13px;
    font-weight: 400;
}

// end : second card

@media (max-width: 768px) {
    .another-card {
        display: flex;
        flex-direction: column;
    }

    .card-index {
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
    }

    .next-btn {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .img-located {
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0 !important;
    }
}