<!-- start : main body -->
<div class="user-group d-flex">
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Karan Tandel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> karan.tandel92@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Viren Patel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> karan.tandel92@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Raj Chapaneriya</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> raj235@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Kevang Patel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> kevangpatel@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Hiren Tandel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> hirentandel1992@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Kanaiya Tiwari</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> kanaiyatiwari@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Hiren Tandel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> hirentandel1992@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Chintan Lad</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> hirentandel1992@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Revant Patel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> revantpatel96@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Ronak Patel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> ronakpatel92@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Hiren Tandel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> hirentandel1992@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Chintan Lad</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> hirentandel1992@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Revant Patel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> revantpatel96@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Ronak Patel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> ronakpatel92@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Ronak Patel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> ronakpatel92@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
    <div class="card">
        <div class="user-profile">
            <figure>
                <img src="./assets/images/man-profile.jpg" class="img-human" alt="boy-profile">
            </figure>
            <p class="user-name">Ronak Patel</p>
            <p class="user-tech">Frontend Developer</p>
        </div>
        <ul class="user-details">
            <li class="user-list"><span class="fa fa-envelope icon"></span> ronakpatel92@gamil.com</li>
            <li class="user-list"><span class="fa fa-phone icon"></span> 9998539134</li>
            <li class="user-list"><span class="fa fa-earth icon"></span> _</li>
            <li class="user-list"><span class="fa fa-location-dot icon"></span> Valsad</li>
        </ul>
        <div>
            <span class="fa fa-volleyball"></span>
            <span class="fa fa-facebook-f icon m-left-15"></span>
            <span class="fa fa-bell icon m-left-15"></span>
            <span class="fa fa-university icon m-left-15"></span>
        </div>
    </div>
</div>
<!-- end : main body -->